*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    color: black;
    font-weight: bold;
}

.container {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 1rem auto;
    text-align: center;
}