*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    
}

header{
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo{
    width: 30%;
}

.text-desc{
    width: 50%;
}

.container{
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.column {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
}

.img-box{
    position: relative;
    margin: 10px auto;
}

.img{
    max-width: 100%;
}

.layer-top {
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    position: absolute;
	opacity: 0;
    transition: .5s ease-in-out;
}

.img-box:hover .layer-top{
  opacity: 1
}

.img-msg{
    color: white;
    text-align: center;
    margin: 20px auto;
}