.films-library {
    display: flex;
    justify-content: space-around;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
}

.film-title {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(235, 235, 235);
    padding: 1rem;
}

.film-title:hover {
    cursor: pointer;
    opacity: 0.75;
    background-color: lightgray;
}