html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header,
footer {
    margin: 1rem;
}

section {
    width: 90%;
    margin: .5rem auto;
    text-align: center;
    border: 1px solid lightcoral;
}